<!DOCTYPE html>
<html lang="en">



<head>
  <title>Holder </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="holder.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</head>

<body>
  <!-- <div id="mySidenav" class="sidenav"> -->
      <div id="mySidenav" class="sidenav">

    <center><img src="/pic/นักศึกษากลม.png" style="height:200px;width:200px;" class="rounded-circle" alt="pic">
      <h2 style="margin-top: -8px;">Holder</h2>
    </center>
    <hr style="background-color: whitesmoke;margin-top: -2px;">
    <button class="dropdown-btn">My transcript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <% if (fs.existsSync(process.cwd()+'/digitalTranscript/holder_tr.dt')){ %>
          <a class="list" href="/showDT">Your transcript</a>
      <% } %>
      <!-- <a class="list" href="#">เทอม 1 ปีการศึกษา 2560</a>
      <a class="list" href="#">เทอม 2 ปีการศึกษา 2560</a>
      <a class="list" href="#">เทอม 1 ปีการศึกษา 2561</a> -->
    </div>
  </div>

  <div id="main" class="row">

      <span style="font-size:30px;cursor:pointer;padding-left:15px;margin-right: -10px;" onclick="window.location='/'">VDEGREE</span>

    <div id="uuid">
      <% if(typeof(myuuid) != 'undefined') { %>
        <input type="text" placeholder="<%= myuuid %>" size="36" disabled>
      <% }else if(fs.existsSync(process.cwd()+'/wallet/holder.credential')) { %>
        <input type="text" placeholder="<%= JSON.parse(fs.readFileSync(process.cwd()+'/wallet/holder.credential')).uuid %>" size="36" disabled>
      <% } %>
    </div>

    <div id="content" class="col-sm-12">
      <div id="content-box">
        <p id="textbox">
          <% if (fs.existsSync('/home/pranitan/fabric-samples/ejs-project/issuer/requests/holder_request.credential')){ %>
              Proceeding for your Digital Transcript
          <% }else if(!fs.existsSync('/home/pranitan/fabric-samples/ejs-project/issuer/requests/holder_request.credential') && fs.existsSync(process.cwd()+'/digitalTranscript/holder_tr.dt') && typeof(result) != 'undefined'){ %>
              University: <%= result.issuer.name %> <br>
              Name: <%= result.credentialSubject.namePrefix %>
                    <%= result.credentialSubject.givenName %>
                    <%= result.credentialSubject.familyName %> <br>
              Faculty: <%= result.credentialSubject.facultyName %><br>
              Major: <%= result.credentialSubject.program.major %> <br>
              GPX: <%= result.credentialSubject.GPX %>
              
          <% }else if(fs.existsSync(process.cwd()+'/digitalTranscript/holder_tr.dt')){ %>
              
          <% }else{ %>
              Please send request the transcript.
          <% } %>
          </p>

      </div>
       <br>
      <% if (!fs.existsSync('/home/pranitan/fabric-samples/ejs-project/issuer/requests/holder_request.credential') && !fs.existsSync(process.cwd()+'/digitalTranscript/holder_tr.dt')){ %>
        <center>
          <form  method="post" action="/requestDT" id="request_form">
            <input type="password" name="password" placeholder="Enter password " />
          </form>
          <button type="submit" id="sentbtn" class="btn btn-dark btn-lg" form="request_form" style="margin-top:15px;">ส่งคำขอ Transcript</button>
        </center>
      <% }else if(!fs.existsSync('/home/pranitan/fabric-samples/ejs-project/issuer/requests/holder_request.credential') && fs.existsSync(process.cwd()+'/digitalTranscript/holder_tr.dt') && typeof(result) != 'undefined' && !fs.existsSync('/home/pranitan/seniorproject/ejs-project/verifier/requests/holder_tr.dt'))  { %>
          <center>
            <!-- <a href="sendDT"><h1 style="color:black" id="buttonbox">SEND TO VERIFIER</h1></a> -->
            <button type="submit" id="sentbtn" class="btn btn-dark btn-lg"><a href="/sendDT">SEND TO VERIFIER </a></button>

          </center>
      <% } %>
    </div>
  </div>

  <script>
    // Navbar
    // function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    // }

    // function closeNav() {
    //   document.getElementById("mySidenav").style.width = "250px";
    //   document.getElementById("main").style.marginLeft = "250px";
    // }

    // Dropdown in side navbar
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }

  </script>

</body>

</html>