<!DOCTYPE html>
<html lang="en">

<head>
  <title>Verifier</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="verifier.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="mySidenav" class="sidenav">
    <center><img src="/pic/บริษัทกลม.png" style="height:200px;width:200px;" class="rounded-circle" alt="pic">
      <h2 style="margin-top: -8px;">Verifier</h2>
      <hr style="background-color: whitesmoke;margin-top: -2px;">
      <h3 id="inbox">INBOX</h3>
      <hr style="background-color: whitesmoke;margin-top: -2px;">
    </center>
    <button class="dropdown-btn">คำร้อง
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
    <% if(fs.existsSync(process.cwd()+'/requests/holder_tr.dt')) { %>
       <a class="list" href="/checkdetail">นายประณิธาน</a>
       
      <!-- <a class="list" href="#">นายปรินทร</a>  -->
    <% } %>
    </div>
    <button class="dropdown-btn">ผลการตรวจสอบ
      <i class="fa fa-caret-down"></i>
    </button>
    <% if(fs.existsSync(process.cwd()+'/approved/holder_tr.dt')) { %>
      <a class="list" href="#">นายประณิธาน</a>
    <% } %>
      <!-- <a class="list" href="#">ผ่าน</a>
      <a class="list" href="#">ไม่ผ่าน</a> -->

  </div>

  <div id="main" class="row">
    <span style="font-size:30px;cursor:pointer;padding-left:15px;margin-right: -10px;" onclick="window.location='/'">VDEGREE</span>
    <div id="uuid">
      <% if(typeof(myuuid) != 'undefined') { %>
        <input type="text" placeholder="<%= myuuid %>" size="36" disabled>
      <% }else if(fs.existsSync(process.cwd()+'/wallet/verifier.credential')) { %>
        <input type="text" placeholder="<%= JSON.parse(fs.readFileSync(process.cwd()+'/wallet/verifier.credential')).uuid %>" size="36" disabled>
      <% } %>
      
    </div>

    <div id="content" class="col-sm-12">
      <div id="content-box">
        <p id="textbox"> 
          <% if(typeof(uuid) != 'undefined'){ %>
            UUID:<%= uuid %><br>
            has sent the request
          <% }else if(typeof(result) != 'undefined'){ %>
              University: <%= result.issuer.name %> <br>
              Name: <%= result.credentialSubject.namePrefix %>
                    <%= result.credentialSubject.givenName %>
                    <%= result.credentialSubject.familyName %> <br>
              Faculty: <%= result.credentialSubject.facultyName %><br>
              Major: <%= result.credentialSubject.program.major %> <br>
              GPX: <%= result.credentialSubject.GPX %>
          <% } %>
   
        </p>
      </div>
      <% if(typeof(confirmButton) != 'undefined') { %>
        <br>
      <center>
        <form action='/approveDT' method='post' id="confirmDT">
          
        </form>
        
        <button type="password" id="sentbtn" class="btn btn-dark btn-lg" form="confirmDT" style="margin-top: 50px;">ตรวจสอบ</button></center>
      <% } %>
    </div>
  </div>

  <script>
    // Navbar
    // function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    // }

    // function closeNav() {
    //   document.getElementById("mySidenav").style.width = "0";
    //   document.getElementById("main").style.marginLeft = "0";
    // }

    // Dropdown in side navbar
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }

  </script>

</body>

</html>